img{
    width: 100%;
    display: block;
}

section{
    position: relative;
    width: 63%;
    /* height: 2000px; */
    margin: 400px auto;
    text-align: center;
}

section>h1{
    font-size: 30px;
    position: relative;
    display: inline-block;
}

section>h1::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #e6d9c2;
}

.mainTitle {
    transition: all 0.5s ease;
    opacity: 1;
    transform: translateY(0);
}

.mainTitle.slide-up {
    opacity: 0;
    transform: translateY(-100px);
    pointer-events: none;
}