img{
    width: 100%;
    display: block;
}

section{
    /* position: relative; */
    width: 63%;
    height: 2000px;
    margin: auto;
    text-align: center;
}

section>h1{
    font-size: 30px;
    position: relative;
    display: inline-block;
}

section>h1::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #e6d9c2;
}

.mainTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
    opacity: 1;
    width: 100%;
}

.mainTitle.slide-up {
    opacity: 0;
    transform: translate(-50%, -150%);
    pointer-events: none;
}

.swiperContainer {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease;
    pointer-events: none;
}

.swiperContainer.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.mySwiper {
    width: 100% !important;
    height: 80vh !important;
    max-width: 100% !important;
}

.mySwiper .swiper-slide {
    width: 60vw !important;
    height: 70vh !important;
    max-width: 800px;
}