header{
    width: 100%;
}

ul{
    display: flex;
    justify-content: space-around;
}

li{
    padding-left: 50px;
    position: relative;
}

.bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

span{
    color: #e2e2e2;
}

/* bar 클릭효과 */
.bar span {
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  transition: all 0.3s ease;
  transform-origin: center;
}

.bar.active span:nth-child(1) {
  transform: translateY(10.5px) rotate(45deg);
}

.bar.active span:nth-child(2) {
  opacity: 0;
}

.bar.active span:nth-child(3) {
  transform: translateY(-10.5px) rotate(-45deg);
}

.bar:hover span {
  background-color: #ccc;
}

/* 서브메뉴 */
.subMenu{
    position: absolute;
    top: 40px;
    left: 0;
}