.wrap {
  width: 100%;
  min-height: 100vh;
  background-color: #1a1612;
  color: #d4af6a ;
  font-family: "Cormorant Garamond", serif;
}

ul,li {
    list-style: none;
}


a{
    text-decoration: none;
    color:  #d4af6a;
    font-family: "Cormorant Garamond", serif;
}
